header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-left: 15px;
}

img {
  width: 45;
  height: 42;
  top: 45px;
  left: 44.41px;
}

.logo-area h1 {
  font-family: Public Sans;
  font-weight: 800;
  font-size: 2rem;
  margin-left: 5px;
  margin-right: 40px;
}

body {
  width: 1421;
  height: 426;
  top: -390px;
  left: 771px;
  background-color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu .ul {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
  gap: 50px;
}

.menu .li {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.menu .Cadastrar {
  background-color: rgb(28, 164, 28);
  font-size: 25px;
  color: #ffffff;
}



.menu .li :hover {
  transition: 0, ease-in-out;
  background-color: rgb(28, 164, 28) ;
  color: #ffffff;
}


